 # Исключаем виртуальное окружение
.venv/

# Исключаем временные файлы Python
*.pyc
__pycache__/

# Исключаем базы данных SQLite
*.sqlite3

# Исключаем статические и медиафайлы
/staticfiles/
/media/

# Исключаем логи
*.log
# Исключаем виртуальное окружение
.venv/
venv/